.Alert {
    display: flex;
    border-radius: 5px;
    width: 500px;
    padding: 10px;
}

.AlertMessage {
    width: 100%;
}

.primary {
    background-color: aqua;
}

.success {
    background-color: lawngreen;
}

.danger {
    background-color: tomato;
}

.warning {
    background-color: orangered;
}